<ul class="mdc-list" aria-orientation="vertical">
        <a href="{% url 'rpm' %}" class="mdc-list-item" tabindex="0">
            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">Dashboard</i>
            Dashboard
        </a>
        <li class="mdc-list-divider" role="separator"></li>
        <a href="{% url 'postdata' %}" class="mdc-list-item" tabindex="0">
            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">History</i>
            History
        </a>
        <li class="mdc-list-divider" role="separator"></li>
        <a href="{% url 'fuel' %}" class="mdc-list-item" tabindex="0">
            <i class="material-icons mdc-list-item__graphic" aria-hidden="true"></i>
            FUEL LEVEL
        </a>
        <li class="mdc-list-divider" role="separator"></li>
        <a href="{% url 'postdata' %}" class="mdc-list-item" tabindex="0">
            <i class="material-icons mdc-list-item__graphic" aria-hidden="true">Engine</i>
            Engine
        </a>
        <li class="mdc-list-divider" role="separator"></li>
        <a href="{% url 'postdata' %}" class="mdc-list-item" tabindex="0">
            <i class="material-icons mdc-list-item__graphic" aria-hidden="true"></i>
            User Profile
        </a>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10">
