{% extends "layout/base.html" %}
{% block title %} RPM SPEED {% endblock %}

{% block content %}
                                    

    <div id="data_list_content">
                   <table id="real_time_table" class="display" cellspacing="0" width="100%">
                     <thead>
                        <tr>
                           <th>Datetime</th>
                           <th>RPM</th>
                           <th>SPEED</th>
                        </tr>
                    </thead>
                </table>
    </div>

    {% csrf_token %}

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <script src="https://cdn.datatables.net/v/dt/dt-1.10.12/se-1.2.0/datatables.min.js"></script>
   <script src="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.7/js/dataTables.checkboxes.min.js"></script>
   <script type="text/javascript">
    $(document).ready(function() {
   var table = $('#real_time_table').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": "{% url 'DataList' %}",
        "columns": [
           { "data" : "created_on" },
           { "data" : "rpm"},
           { "data" : "speed"}
        ],
        "columnDefs": [
            {
                targets: [ 0 ],
                "className": 'mdl-data-table__cell--non-numeric'
            }
        ],
        "colReorder": {
            realtime: true
        }
   });
    });
    </script>

{% endblock %}
    

